
html{
  height:100%;
}
body{
  margin: 0;
  padding: 0;
  height: 100%;
}
#map{
  width: 100%;
  height: 100%;
  min-height: 100%;
}

.geo-feature {
  stroke-width:1;
  &.prefs {
    fill: #18c224;
    fill-opacity: 0.3;
    stroke: #2d5e06;
  }

  &.towns {
    fill: #2d5e06;
    fill-opacity: 0.4;
    stroke: #2d5e06;
  }
}
