
html{
  height:100%;
}
body{
  margin: 0;
  padding: 0;
  height: 100%;
}
#container {
  margin: 0;
  height: 100%;
}
#content {
  float: left;
  margin-right: -400px;
  width:100%;
  height: 100%;
}
#map{
  margin-right:400px;
  min-width: 600px;
  height: 100%;
}
#info {
  float: right;
  width: 375px;
  height: 100%;
  margin: 0 10px 0 10px;
}
h1 {
  margin: 10px 0 0 0;
  font-size: 150%;
}
h2 {
  margin: 10px 0 5px 0;
  font-size: 130%;
}
p {
  font-size: 90%;
  margin: 1px 0 0 0;
}

#densyo{
  overflow: scroll;
  height: 80%;
  dl {
    padding: 0;
    margin: 0;
  }
  dt {
    font-weight: bold;
    text-indent: -1em;
    margin-left: 1em;
    margin-top: 5px;
    &:before {
      content: '・'
    }
  }
  .src {
    font-size: small;
  }
}

$pref-color: #18c224;
$town-color: #2d5e06;
$stroke-color: #2d5e06;

/* SVG */
.geo-feature {
  stroke-width:1;
  &.prefs {
    fill: $pref-color;
    fill-opacity: 0.3;
    stroke: $stroke-color;
  }

  &.towns {
    fill: $town-color;
    fill-opacity: 0.3;
    stroke: $stroke-color;
  }
  &:hover {
    fill-opacity:0.6;
    stroke-width: 2px;
  }
}
